@charset "UTF-8";
.card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.f-10 {
  font-size: 10px !important;
}

.f-11 {
  font-size: 11px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-19 {
  font-size: 19px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-21 {
  font-size: 21px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-23 {
  font-size: 23px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-25 {
  font-size: 25px !important;
}

.f-26 {
  font-size: 26px !important;
}

.f-27 {
  font-size: 27px !important;
}

.f-28 {
  font-size: 28px !important;
}

.f-29 {
  font-size: 29px !important;
}

.f-30 {
  font-size: 30px !important;
}

.f-31 {
  font-size: 31px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-33 {
  font-size: 33px !important;
}

.f-34 {
  font-size: 34px !important;
}

.f-35 {
  font-size: 35px !important;
}

.f-36 {
  font-size: 36px !important;
}

.f-37 {
  font-size: 37px !important;
}

.f-38 {
  font-size: 38px !important;
}

.f-39 {
  font-size: 39px !important;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-60 {
  width: 60% !important;
}

.w-50 {
  width: 50% !important;
}

.w-40 {
  width: 40% !important;
}

.w-30 {
  width: 30% !important;
}

.w-20 {
  width: 20% !important;
}

.w-10 {
  width: 10% !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.weight-800 {
  font-weight: 800 !important;
}

.weight-900 {
  font-weight: 900 !important;
}

.radius-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.radius-25 {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.color {
  color: red;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right !important;
  direction: rtl;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body:not(i), html:not(i) {
  font-family: "Cairo", sans-serif !important;
}

.register-login {
  overflow-x: hidden;
}

.register-login .img-form {
  color: #ffff;
  background-image: url("../img/pexels-fauxels-3183131.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  float: right;
  position: relative;
}

.register-login .img-form .overlay {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0373BF), to(#023A60));
  background: linear-gradient(#0373BF, #023A60);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}

.register-login .img-back {
  position: absolute;
  top: -55%;
  width: 70%;
  z-index: 1;
  left: 20%;
}

.register-login .go-a {
  background: #fff;
  border: 1px solid #fff;
  color: #0373BF !important;
}

.register-login .now-a {
  border: 1px solid #fff;
  color: #fff !important;
}

.register-login .register-form {
  min-height: 100vh;
}

.register-login .register-form .form {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

.color-1 {
  color: #0373BF;
}

.container-form {
  position: relative;
  margin-top: 22px;
  margin-bottom: 22px;
}

.container-form input {
  border: none !important;
  outline: none;
  border-bottom: 2px solid #0373BF !important;
  padding-right: 30px;
  color: #282828;
}

.container-form input::-webkit-input-placeholder {
  font-size: 16px;
  color: #282828;
  text-align: center !important;
}

.container-form input::-moz-placeholder {
  font-size: 16px;
  color: #282828;
  text-align: center !important;
}

.container-form input:-ms-input-placeholder {
  font-size: 16px;
  color: #282828;
  text-align: center !important;
}

.container-form input::-ms-input-placeholder {
  font-size: 16px;
  color: #282828;
  text-align: center !important;
}

.container-form input::placeholder {
  font-size: 16px;
  color: #282828;
  text-align: center !important;
}

.container-form .icon-main {
  position: absolute;
  right: 2px;
  color: #0373BF;
  top: -1px;
  font-size: 20px;
}

.container-form .icon-eye {
  position: absolute;
  left: 2px;
  color: #0373BF;
  top: -1px;
  font-size: 20px;
  cursor: pointer !important;
}

.container-form .fa-eye-slash {
  display: none;
}

input[type=password] {
  font: small-caption !important;
  font-size: 20px !important;
}

input[type=password]::-webkit-input-placeholder {
  font-family: "Cairo", sans-serif !important;
}

input[type=password]::-moz-placeholder {
  font-family: "Cairo", sans-serif !important;
}

input[type=password]:-ms-input-placeholder {
  font-family: "Cairo", sans-serif !important;
}

input[type=password]::-ms-input-placeholder {
  font-family: "Cairo", sans-serif !important;
}

input[type=password]::placeholder {
  font-family: "Cairo", sans-serif !important;
}

.col-md-6 input[type=radio] {
  display: none;
}

.col-md-6 input[type=radio] ~ label {
  width: 100%;
}

.col-md-6 input[type=radio] ~ label:after {
  content: "";
  display: block;
  width: 1.5em;
  height: 1.5em;
  float: right;
  border: solid 2px #0373BF;
  background-clip: content-box;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5em;
}

.col-md-6 input[type=radio]:checked ~ label:after {
  background-color: #0373BF;
  padding: 0.3em;
}

.btn-all-radio input[type=radio] {
  display: none;
}

.btn-all-radio input[type=radio] ~ label {
  width: 100%;
}

.btn-all-radio input[type=radio] ~ label:after {
  content: "";
  display: block;
  width: 1.5em;
  height: 1.5em;
  float: right;
  border: solid 2px #0373BF;
  background-clip: content-box;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5em;
}

.btn-all-radio input[type=radio]:checked ~ label:after {
  background-color: #0373BF;
  padding: 0.3em;
}

.btn-sign {
  border: none;
  background-color: #0373BF;
  color: #fff;
}

button,
input {
  outline: none !important;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .register-form .form .mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .register-login .img-form {
    width: 33%;
  }

  .register-login .fix-a {
    margin-top: 24px;
    display: inline-block;
  }

  .register-form .form .mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 100px) and (max-width: 767px) {
  .register-login .img-form {
    width: 100%;
    float: left;
  }

  .register-login .register-form {
    width: 100%;
    float: right;
  }

  .register-login .fix-a {
    margin-top: 24px;
    display: inline-block;
  }

  button.w-40 {
    width: 80% !important;
  }

  .register-form .form .mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
input[type=checkbox] + label {
  display: block;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "✔";
  border: 0.1em solid #0373BF;
  border-radius: 0.2em;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: center;
  color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-right: 3px;
}

input[type=checkbox] + label:active:before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #0373BF;
  border-color: #0373BF;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-color: #0373BF;
}

input[type=checkbox]:checked:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #0373BF;
  border-color: #0373BF;
}

aside {
  width: 22%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
}

main {
  width: 78%;
  float: left;
  min-height: 100vh !important;
  background-color: #F4F7FA;
}

.scrollbar {
  height: 87vh;
  width: 100%;
  overflow-y: auto;
}

.force-overflow {
  min-height: 87vh;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
}

#style-4::-webkit-scrollbar {
  width: 3px;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.fa-bars {
  cursor: pointer !important;
  font-size: 25px;
}

.bg-one {
  background-color: #0373BF;
  color: #fff !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: none !important;
  border-bottom: 0;
  border-left: none !important;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .img-back {
    top: -10% !important;
    z-index: 1;
  }

  nav ul {
    font-size: 13px !important;
  }

  nav .dropdown button {
    font-size: 13px !important;
  }

  nav .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  #big-bar {
    display: none !important;
  }

  nav ul {
    font-size: 13px !important;
  }

  nav .dropdown button {
    font-size: 13px !important;
  }

  nav .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
}
#small-bar {
  display: none !important;
}

#close {
  display: none !important;
}

@media (min-width: 1px) and (max-width: 768px) {
  .img-back {
    top: -10% !important;
    z-index: 1;
  }

  #close {
    display: block !important;
    position: absolute;
    top: 0;
    left: 5px;
    color: #0373BF;
    border: 2px solid #0373BF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px 5px;
  }

  #big-bar {
    display: none !important;
  }

  #small-bar {
    display: block !important;
  }

  main {
    width: 100% !important;
  }

  aside {
    z-index: 88888;
    width: 40%;
    right: -40%;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  main {
    width: 100% !important;
  }

  aside {
    z-index: 88888;
    width: 80%;
    right: -80%;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .img-back {
    top: 0% !important;
    z-index: 2;
  }

  nav ul {
    font-size: 13px !important;
  }

  nav .dropdown button {
    font-size: 13px !important;
  }

  nav .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
}
.strap-top {
  height: 150px;
  background-color: #0373BF;
  width: 100%;
}

hr {
  background-color: #fff;
}

.main-all {
  background-color: #fff;
  padding: 10px;
  margin-top: -70px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.push-top {
  margin-top: -50px;
}

aside ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

aside ul li {
  line-height: 45px;
  color: #6D6E71 !important;
}

aside ul li a {
  color: #6D6E71 !important;
}

aside ul li a i {
  padding-left: 10px;
  padding-right: 10px;
}

aside ul .active-nav {
  background-color: #0373BF;
  color: #fff !important;
}

aside ul .active-nav a {
  color: #fff !important;
}

.top-menu ul li {
  display: inline-block;
}

.top-menu ul li a {
  color: #fff !important;
}

.dropdown button {
  color: #fff !important;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  z-index: 9999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loadingspinner {
  pointer-events: none;
  width: 4em;
  height: 4em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #0373BF;
  border-radius: 50%;
  animation: loadingspin 0.7s linear infinite;
  -webkit-animation: loadingspin 0.7s linear infinite;
  -moz-transition: loadingspin 0.7s linear infinite;
  -ms-transition: loadingspin 0.7s linear infinite;
  -o-transition: loadingspin 0.7s linear infinite;
}

@-webkit-keyframes loadingspin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingspin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.color-base {
  color: #fff !important;
}

thead {
  background-color: #fff !important;
  color: #000 !important;
}

thead tr {
  background-color: #fff !important;
  color: #000 !important;
}

thead tr th {
  text-align: center !important;
}

tr td {
  text-align: center !important;
}

thead {
  border-bottom: 2px solid #B0B1B2;
}

thead tr:nth-of-type(1) {
  background-color: #fff !important;
  color: #000 !important;
}

tbody tr:nth-child(odd) {
  background-color: #F4F7FA !important;
  color: #000 !important;
}

tbody tr:nth-child(even) {
  background-color: #fff !important;
  color: #000 !important;
}

.main-all input[type=checkbox] + label {
  display: block;
  cursor: pointer;
}

.main-all input[type=checkbox] {
  display: none;
}

.main-all input[type=checkbox] + label:before {
  content: "✔";
  border: 0.1em solid #0373BF;
  border-radius: 0.2em;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: center;
  color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-right: 3px;
  position: relative;
  top: 14px;
  background-color: none !important;
  margin-top: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto !important;
  margin-left: auto !important;
}

.main-all input[type=checkbox] + label:active:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: transparent !important;
}

.main-all input[type=checkbox]:checked + label:before {
  background-color: transparent !important;
  border-color: #fff;
  color: #fff;
}

.main-all input[type=checkbox]:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-color: none;
}

.main-all input[type=checkbox]:checked:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: transparent !important;
  border-color: #0373BF;
}

.fix-table {
  position: relative;
  width: 100%;
  overflow-y: none !important;
}

.fix-table table {
  width: 100%;
  overflow-y: none !important;
}

@media (min-width: 100px) and (max-width: 767px) {
  .fix-table {
    position: relative;
    overflow-x: scroll !important;
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .fix-table table {
    width: 1000px;
    overflow-x: scroll !important;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .fix-table {
    position: relative;
    overflow-x: scroll !important;
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .fix-table table {
    width: 1000px;
    overflow-x: scroll !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fix-table {
    position: relative;
    overflow-x: scroll !important;
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .fix-table table {
    width: 1100px;
    overflow-x: scroll !important;
  }
}
.btn-base {
  background-color: #0373BF;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

thead tr th {
  color: #0373BF !important;
}

thead tr th select {
  border: 1px solid #0373BF !important;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  color: #0373BF;
  background-color: #fff !important;
}

tbody tr.active-tr {
  background-color: #0373BF !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.text-message tr th:nth-of-type(1) {
  text-align: right !important;
}

.text-message tr th {
  padding-bottom: 10px;
}

.bdg {
  display: inline-block;
  width: 60px !important;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.bdg-negative {
  background-color: #E74F5B;
}

.bdg-positive {
  background-color: #27AA74;
}

.bdg-neutral {
  background-color: #DBA11B;
}

.shadow-inp {
  -webkit-box-shadow: 0 4px 30px #cccccc;
          box-shadow: 0 4px 30px #cccccc;
}

.search-inp {
  position: absolute;
  top: 8px;
  right: 7px;
}

.inp-search {
  padding-right: 28px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type=date] {
  color: #0373BF !important;
  padding-left: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.calendar-inp {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 0 !important;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  text-align: center !important;
  cursor: pointer;
}

.btn-file {
  border: 1px dashed #0373BF;
  display: inline-block;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center !important;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-30 i {
  font-size: 70px !important;
}

.bg-base {
  background-color: #0373BF;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bg-base .fa-file {
  font-size: 25px;
}

.bg-base .file-upload-filename {
  color: #fff;
  font-size: 20px;
}

.bg-base .close-all {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 10px;
  cursor: pointer;
}

#show-all {
  display: none;
}

@media (min-width: 2px) and (max-width: 767px) {
  #file-upload-filename {
    max-width: 150px;
  }
}
@media (min-width: 767px) and (max-width: 769px) {
  #file-upload-filename {
    max-width: 250px;
  }
}
.circle-contact {
  background-color: #fff;
  color: #0373BF;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  height: 50px;
  -webkit-box-shadow: 0 5px 5px #ccc;
          box-shadow: 0 5px 5px #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 42.5%;
}

@media (min-width: 767px) and (max-width: 769px) {
  .circle-contact {
    width: 20%;
    height: 50px;
    right: 40%;
  }
}
.tips span {
  color: #0373BF;
}

.bdg-tips {
  background-color: #0373BF;
  color: #fff !important;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center !important;
}

.all-col.col-11 span {
  color: #0373BF;
  font-weight: 600;
  font-size: 19px;
}

.all-col.col-11 i {
  font-size: 14px !important;
}

@media (min-width: 2px) and (max-width: 767px) {
  #file-upload-filename {
    max-width: 150px;
  }

  .all-col.col-11 {
    -ms-flex: 0 0 85% !important;
    -webkit-box-flex: 0 !important;
            flex: 0 0 85% !important;
    max-width: 85% !important;
  }

  .all-col.col-1 {
    -ms-flex: 0 0 15% !important;
    -webkit-box-flex: 0 !important;
            flex: 0 0 15% !important;
    max-width: 15% !important;
  }
}
.push-top-analysis {
  margin-top: -70px !important;
}

.bg-card {
  background-color: #4EA5E0 !important;
  color: #fff;
}

.img-wow {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 0;
  width: 80px !important;
  height: 80px !important;
}

.apexcharts-menu-icon,
.apexcharts-toolbar {
  display: none !important;
}

.img-now {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

#chart3 {
  height: 70vh !important;
  width: 100%;
}

.chaert {
  height: 70vh !important;
  width: 100%;
}

.margin-contact {
  margin-top: 35px !important;
}

.margin-contact a {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

@media (min-width: 2px) and (max-width: 767px) {
  #chart3,
.chaert {
    height: 30vh !important;
    width: 100%;
  }

  .margin-contact {
    margin-top: 26px !important;
  }

  .margin-contact a {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  #chart3,
.chaert {
    height: 30vh !important;
    width: 100%;
  }

  .margin-contact {
    margin-top: 26px !important;
  }

  .margin-contact a {
    padding-left: 63px !important;
    padding-right: 63px !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #chart3,
.chaert {
    height: 30vh !important;
    width: 100%;
  }
}
.back-positive {
  background-color: #E74F5B !important;
  color: #fff !important;
}

.back-natural {
  background-color: #DBA11B !important;
  color: #fff !important;
}

.back-negative {
  background-color: #27AA74 !important;
  color: #fff !important;
}

::-ms-expand {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  background-color: #fff;
  outline: none;
}

::-moz-selection {
  background-color: #fff;
}

::selection {
  background-color: #fff;
}

::-moz-selection {
  background-color: #fff;
}

::-webkit-datetime-edit {
  background-color: #fff;
}

input[type=date] {
  background-color: #fff;
}

[data-href] {
  cursor: pointer !important;
}

.open-file {
  color: #DBA11B !important;
}

.delete-file {
  color: #F25767 !important;
}

tbody tr.active-tr .open-file {
  color: #fff !important;
}

tbody tr.active-tr .delete-file {
  color: #fff !important;
}

.max-w {
  max-width: 150px;
}

td form button {
  border: none !important;
  background-color: transparent !important;
}

td button {
  border: none !important;
  background-color: transparent !important;
}

.chart {
  direction: ltr !important;
  position: relative !important;
  text-align: left !important;
  overflow: hidden !important;
  height: 550px !important;
  min-height: 550px !important;
}

.chart-base {
  direction: ltr !important;
  position: relative !important;
  text-align: left !important;
  overflow: hidden !important;
  height: 350px !important;
  min-height: 350px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .chart {
    height: auto !important;
    min-height: auto !important;
  }

  .chart-base {
    height: auto !important;
    min-height: auto !important;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  aside {
    width: 40%;
    right: -80%;
    z-index: 999999999;
  }

  main {
    width: 100% !important;
  }

  #close {
    display: block !important;
    position: absolute;
    top: 0;
    left: 5px;
    color: #0373BF;
    border: 2px solid #0373BF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px 5px;
  }

  nav ul {
    font-size: 15px !important;
  }

  nav .dropdown button {
    font-size: 15px !important;
  }
}
.apexcharts-toolbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.apexcharts-canvas .apexcharts-element-hidden {
  display: none !important;
}

.apexcharts-toolbar div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 767px) {
  aside {
    width: 80%;
    right: -80%;
    z-index: 999999999;
  }

  main {
    width: 100% !important;
  }

  nav ul {
    font-size: 13px !important;
  }

  nav .dropdown button {
    font-size: 13px !important;
  }

  nav .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }

  #close {
    display: block !important;
    position: absolute;
    top: 0;
    left: 5px;
    color: #0373BF;
    border: 2px solid #0373BF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px 5px;
  }
}
.apexcharts-text.apexcharts-yaxis-label {
  margin-bottom: 10px !important;
}

body, html {
  max-zoom: 150% !important;
  max-zoom: 1.5 !important;
}

@-ms-viewport {
  max-zoom: 1.5;
}

@-o-viewport {
  max-zoom: 1.5;
}

@viewport {
  max-zoom: 1.5;
}
@media (max-width: 1400px) {
  .chart, .chart-base {
    max-width: 750px !important;
    margin: auto !important;
    height: auto !important;
  }

  .apexcharts-legend-text, .apexcharts-text, .apexcharts-yaxis-label, .apexcharts-yaxis-label {
    font-size: 10px !important;
  }

  .apexcharts-legend-text {
    font-size: 12px !important;
  }
}
@media (max-width: 1900px) {
  .chart, .chart-base {
    max-width: 650px !important;
    margin: auto !important;
  }

  .apexcharts-legend-text, .apexcharts-text, .apexcharts-yaxis-label, .apexcharts-yaxis-label {
    font-size: 12px !important;
  }
}
.paypal-button.paypal-button-color-black, .paypal-button-row.paypal-button-color-black .menu-button {
  background-color: #0373BF !important;
}

.paypal-button.paypal-button-color-black, .paypal-button-row.paypal-button-color-black .menu-button {
  background: #0373BF !important;
}

.fancy-options {
  width: 100% !important;
  list-style-type: disc;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.fancy-options li {
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
  width: 30% !important;
}
.fancy-options input[type=radio] {
  display: none;
}
.fancy-options input[type=radio] ~ label {
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: 2px solid #0373BF;
  color: #0373BF;
  padding: 0.5em 1em;
  font-weight: 600;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.fancy-options input[type=radio]:checked ~ label {
  background: #0373BF;
  color: #fff;
}
.fancy-options input[type=radio]:checked ~ label:after {
  background-color: #0373BF;
  padding: 0.3em;
}

@media (max-width: 767px) and (min-width: 1px) {
  .fancy-options {
    list-style-type: disc;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  .fancy-options li {
    margin-top: 0px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    width: calc(100% - 10px) !important;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .fancy-options {
    list-style-type: disc;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  .fancy-options li {
    margin-top: 0px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
    width: calc(32% - 10px) !important;
  }
}
.paypal__button {
  display: none;
}

* {
  outline: none !important;
}

.paypal-button.paypal-button-color-black, .paypal-button-row.paypal-button-color-black .menu-button {
  background-color: #0373BF !important;
  background: #0373BF !important;
}/*# sourceMappingURL=main.css.map */