<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                <i class="far fa-folder ml-2"></i>
                <span class="f-19">
                     جميع الملفات 

                </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-3 main-all  shadow radius-20 ">
    <div class="pt-2 fix-table table-responsive ">
        <table class="">
            <thead class="text-center bg-white py-3">

                <tr class="  text-center ">
                    <th class="py-2">اسم الملف</th>
                    <th class="py-2"> الوصف</th>
                    <th class="py-2">الحساب</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>



            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>


            <tr class="py-3">


                <td class="max-w text-truncate py-2"> اسم الملف</td>
                <td>
                    وصف الملف هنا وخصائصه وصف الملف هنا وخصائصه
                </td>
                <td class="max-w text-truncate py-2"> 100 <sup class="color-1 f-15">SAR </sup> </td>

                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="delete-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-trash-alt "></i>
                        </button>
                        </form>
                    </div>
                </td>
                <td class=" text-truncate py-2 text-center ">
                    <div class="d-flex justify-content-center">

                        <form action="" method="" name="">
                            <button class="open-file f-25 mx-auto" type="submit" name="" formmethod="">
                            <i class="far fa-folder-open "></i>
                        </button>
                        </form>
                    </div>

                </td>
            </tr>




        </table>


    </div>


</div>