<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                            
                            <i class="fas fa-ban ml-2"></i>    
                            <span class="f-19">
                                المحظورون
                            </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-3 main-all  shadow radius-20 ">
    <div class="pt-2 fix-table table-responsive ">
        <table class="">
            <thead class="text-center bg-white ">

                <tr class="  text-center ">
                    <th class=" py-2">
                        <select name="" id="" class="mx-3">
                                    <option value="">حذف</option>
                                </select>
                    </th>
                    <th>الاسم</th>
                    <th>البريد الالكتروني</th>
                    <th>رقم الهاتف</th>
                    <th>عميل</th>
                </tr>
            </thead>
            <tbody>

                <tr class="py-2">
                    <td class=" py-2">
                        <input type="checkbox" class="" id="user1" name="user1" value="user1">
                        <label for="user1" class="">

                                    <span class="mx-2"></span>
                                </label>
                    </td>
                    <td class="max-w text-truncate">مالك إبراهيم علي</td>
                    <td class="max-w text-truncate">malek23@gmail.com</td>
                    <td class="max-w text-truncate">+966 01159116034</td>
                    <td class="max-w text-truncate">نسخة تجريبية</td>
                </tr>
                <tr class="py-2">
                    <td class=" py-2">
                        <input type="checkbox" class="" id="user2" name="user1" value="user2">
                        <label for="user2" class="">

                                    <span class="mx-2"></span>
                                </label>
                    </td>
                    <td class="max-w text-truncate">مالك إبراهيم علي</td>
                    <td class="max-w text-truncate">malek23@gmail.com</td>
                    <td class="max-w text-truncate">+966 01159116034</td>
                    <td class="max-w text-truncate">نسخة تجريبية</td>
                </tr>
                <tr class="py-2">
                    <td class=" py-2">
                        <input type="checkbox" class="" id="user3" name="user1" value="user3">
                        <label for="user3" class="">

                                    <span class="mx-2"></span>
                                </label>
                    </td>
                    <td class="max-w text-truncate">مالك إبراهيم علي</td>
                    <td class="max-w text-truncate">malek23@gmail.com</td>
                    <td class="max-w text-truncate">+966 01159116034</td>
                    <td class="max-w text-truncate">نسخة تجريبية</td>
                </tr>
                <tr class="py-2">
                    <td class=" py-2">
                        <input type="checkbox" class="" id="user4" name="user1" value="user4">
                        <label for="user4" class="">

                                    <span class="mx-2"></span>
                                </label>
                    </td>
                    <td class="max-w text-truncate">مالك إبراهيم علي</td>
                    <td class="max-w text-truncate">malek23@gmail.com</td>
                    <td class="max-w text-truncate">+966 01159116034</td>
                    <td class="max-w text-truncate">نسخة تجريبية</td>
                </tr>
                <tr class="py-2">
                    <td class=" py-2">
                        <input type="checkbox" class="" id="user5" name="user1" value="user5">
                        <label for="user5" class="">

                                    <span class="mx-2"></span>
                                </label>
                    </td>
                    <td class="max-w text-truncate">مالك إبراهيم علي</td>
                    <td class="max-w text-truncate">malek23@gmail.com</td>
                    <td class="max-w text-truncate">+966 01159116034</td>
                    <td class="max-w text-truncate">نسخة تجريبية</td>
                </tr>
                <tr class="py-2">
                    <td class=" py-2">
                        <input type="checkbox" class="" id="user6" name="user1" value="user6">
                        <label for="user6" class="">

                                    <span class="mx-2"></span>
                                </label>
                    </td>
                    <td class="max-w text-truncate">مالك إبراهيم علي</td>
                    <td class="max-w text-truncate">malek23@gmail.com</td>
                    <td class="max-w text-truncate">+966 01159116034</td>
                    <td class="max-w text-truncate">نسخة تجريبية</td>
                </tr>
            </tbody>

        </table>

    </div>
    <div class="text-center my-2 ">
        <button class="btn-base"> <i class="far fa-save px-2"></i>حفظ البينات </button>
    </div>
</div>