<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                            
                            <i class="fas fas fa-phone ml-2"></i>    
                          
                            <span class="f-19">
                                اتصل بنا
                            </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="  push-top    container">
    <div class="row">

        <div class="col-md-4 mr-auto">
            <div class="bg-white position-relative mb-5 shadow p-3 radius-5">
                <span class="circle-contact">
                                <i class="far fa-envelope"></i>
                            </span>
                <div class="text-center mt-4 color-1 f-20">
                    admin@mashaer.tech
                </div>
            </div>
        </div>

        <div class="col-md-4 ml-auto">
            <div class="bg-white position-relative mb-5 shadow p-3 radius-5">
                <span class="circle-contact">
                                <i class="fab fa-twitter"></i>
                            </span>
                <div class="text-center mt-4 color-1 f-20">
                    <a href="">
                                    @mashaer.tech

                                </a>
                </div>
            </div>
        </div>
    </div>
</div>