<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                
                <i class="far fa-list-alt ml-2"></i>    
                <span class="f-19">
                    تحميل النتائج
                </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-3 main-all  shadow radius-20 ">
    <div class="pt-2 fix-table  ">
        <table class="">
            <thead class="text-center bg-white text-message ">

                <tr class="py-2">
                    <th class="w-75 pr-3"> النص</th>
                    <th class="w-25"> المشاعر</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 text-right pr-3">
                        موقع رائع وحديقة جميلة ويستحق نجمة اضافية
                    </td>
                    <td class="py-2">
                        <span class="bdg bdg-positive ">

                            ايجابي
                        </span>
                    </td>
                </tr>

                <tr>

                    <td class="py-2 text-right pr-3">
                        موقع رائع وحديقة جميلة ويستحق نجمة اضافية
                    </td>
                    <td class="py-2">
                        <span class="bdg  bdg-negative">

                            سلبي

                        </span>
                    </td>
                </tr>

                <tr>

                    <td class="py-2 text-right pr-3">
                        موقع رائع وحديقة جميلة ويستحق نجمة اضافية
                    </td>
                    <!--positive-->
                    <td class="py-2">
                        <span class="bdg bdg-positive ">

                            ايجابي
                        </span>
                    </td>
                </tr>

                <tr>

                    <td class="py-2 text-right pr-3">
                        موقع رائع وحديقة جميلة ويستحق نجمة اضافية
                    </td>
                    <!--neutral-->
                    <td class="py-2">
                        <span class="bdg  bdg-neutral ">
                            محايد

                        </span>
                    </td>
                </tr>

                <tr>

                    <td class="py-2 text-right pr-3">
                        موقع رائع وحديقة جميلة ويستحق نجمة اضافية موقع رائع وحديقة جميلة ويستحق نجمة اضافية موقع رائع وحديقة جميلة ويستحق نجمة اضافية
                    </td>
                    <td class="py-2">
                        <!--negative-->
                        <span class="bdg  bdg-negative">

                            سلبي

                        </span>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
    <div class="text-center my-3 ">
        <button class="btn-base"> <i class="fas fa-cloud-download-alt  px-2"></i> تحميل النتائج </button>
    </div>
</div>