<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                
                <i class="far fa-chart-bar ml-2"></i>    

                <span class="f-19">
                    احصائيات عامة 

                </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-4 push-top-analysis ">
    <div class="container-fluid">

        <div class="row py-3">
            <div class="col-md-6 count  my-2">
                <div class="bg-card  radius-5 position-relative">
                    <div id="countOne" class="num py-2 text-center weight-700 f-25">0</div>
                    <p class=" text-center pb-2 weight-700 f-20"> عدد التغريدات</p>
                    <img src="img/noun_Tweet_202410.png" class="img-wow" alt="" srcset="">
                </div>
            </div>

            <div class="col-md-6 count  my-2">
                <div class="bg-card radius-5 position-relative">
                    <div id="countTwo" class="num  py-2 text-center weight-700 f-25">0</div>
                    <p class=" text-center pb-2 weight-700 f-20">عدد الأوسمة</p>
                    <img src="img/noun_Award_2127255.png" class="img-wow" alt="" srcset="">

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="bg-white radius-5 mb-3 py-3 shadow px-1 text-center">

                    <div class="bg-white radius-5  ">
                        <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 px-1 text-center">
                            أنواع الملفات </p>
                        <canvas id="pieChart" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white radius-5 mb-3 py-3 shadow ">

                    <div class="bg-white radius-5 px-2 text-center ">
                        <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 text-center">
                            منصات التغريد </p>
                        <canvas id="barChart" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="bg-white radius-5   shadow px-2">
                    <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 text-center">
                        عدد المغردين في الوسم </p>
                    <canvas id="barChart2" width="600" height="400"></canvas>
                </div>
            </div>

            <div class="col-md-6">

                <div class="bg-white radius-5 mb-3  shadow px-2">
                    <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2  text-center">
                        أكثر عشرة مدن من حيث التغريد </p>
                    <canvas id="barChart3" width="600" height="400"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 mx-auto">

                <div class="bg-white radius-10 my-2  shadow overflow-hidden" id="zone">
                    <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 text-center">
                        عدد التغريدات علي النطاق الزمني لكل ساعة </p>
                    <canvas id="chart-num-tweet-zone" width="400" height="150"></canvas>

                </div>
            </div>
        </div>

        <div class="color-1 border-bottom pb-2 mb-2  mt-3">

            <i class="far fa-chart-bar ml-2"></i>

            <span class="f-22">
                تحليل البيانات
            </span>
        </div>
        <div class="row">
            <div class="col-md-4 count  my-2">
                <div class="back-positive radius-5 position-relative">
                    <div id="countThree" class="num py-2 text-center weight-700 f-25 color-2">0</div>
                    <p class=" text-center pb-2 weight-700 f-20 color-2">سلبي </p>
                    <img src="img/2.png" class="img-wow" alt="" srcset="">

                </div>
            </div>
            <div class="col-md-4 count  my-2">
                <div class="back-natural radius-5 position-relative">
                    <div id="countFour" class="py-2 num text-center weight-700 f-25">0</div>
                    <p class=" text-center pb-2 weight-700 f-20">محايد </p>
                    <img src="img/3.png" class="img-wow" alt="" srcset="">

                </div>
            </div>

            <div class="col-md-4 count  my-2">
                <div class="back-negative radius-5 position-relative">
                    <div id="countFive" class="py-2 num text-center weight-700 f-25">0</div>
                    <p class=" text-center pb-2 weight-700 f-20">ايجابي </p>
                    <img src="img/4.png" class="img-wow" alt="" srcset="">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-3 ">
                <div class="bg-white radius-5 shadow px-2">
                    <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 px-1 text-center">
                        الوسم الأكثر استخداما
                    </p>
                    <canvas id="horizontalBarChartCanvas" width="100%" height="60px"></canvas>

                </div>
            </div>

            <div class="col-md-6 my-3">
                <div class="bg-white radius-5 shadow px-2">
                    <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 px-1 text-center">
                        الكلمات الأكثر استخداما
                    </p>
                    <canvas id="horizontalBarChartCanvas2" width="100%" height="60px"></canvas>

                </div>
            </div>

            <div class="col-md-10 my-3 mx-auto">
                <div class="bg-white radius-5  shadow px-2">
                    <p class="border-bottom color-1 py-2 f-20 weight-600 mx-2 px-1 text-center">
                        العبارات الأكثر استخداما </p>
                    <canvas id="horizontalBarChartCanvas3" class="chaert"></canvas>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-10 mx-auto my-3">
                <div class="bg-white radius-5  img-now  shadow">
                    <img src="img/سحابه-كلمات.png" class="w-100 img-fluid radius-10 img-now" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="row" id="container">
            <div class="col-md-12 my-3">

                <div id="map" class="map-90 mx-auto radius-5"></div>
            </div>
        </div>

        <div class="text-center my-3 ">
            <button class="btn-base"> <i class="fas fa-cloud-download-alt  px-2"></i> تحميل النتائج </button>
        </div>
    </div>
</div>