<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                            
                            <i class="fas fa-list ml-2"></i>    
                            <span class="f-19">
                                التعليمات
                            </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-3 main-all  shadow radius-20 pt-3 mb-5">

    <div class="container-fluid">


        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0">
                    يرجى إدخال ملف <span>Excell</span> بإمداد <span>CSV</span> ( مستقبلاً سيتم إضافة إمدادات أخرى)

                </div>
            </div>


        </p>

        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0">
                    مستقبلا سيتم إضافة امتدادات أخري <span>
                                (csv , json , txt )
        
                            </span> يرجي ادخال ملف بامتداد

                </div>
            </div>

        </p>


        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0">
                    يجب الملف أن يحتوى على عمود واحد

                </div>
            </div>

        </p>



        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0"> يجب أن تكون البيانات باللغة العربيه
                </div>
            </div>

        </p>


        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0"> اذا كان العمود له عنواناً فيجب اختيار( يوجد عنواناً له ) في صفحة رفع الملف
                </div>
            </div>


        </p>


        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0">
                    اذا كنت لست عميلا مميز فيجب أن يكون حجم الملف أقل من
                    <span>                                26000 Bytes
</span>
                </div>
            </div>

        </p>

        <p class="tips">
            <div class="row border-bottom pb-2 ">
                <div class="all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0"> لكي يتم تحميل النتائج على جهازك الشخصي يرجى الضغط على زر
                    <span>
                                    ( تحميل النتائج)

                                </span>
                </div>
            </div>

        </p>

        <p class="  tips">
            <div class="row border-bottom pb-2">
                <div class="all-col all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0">
                    في صفحه تحليل البيانات يتم تحليل البينات الي ايجابي وسلبي ومحايد

                </div>
            </div>

        </p>

        <p class="  tips">
            <div class="row border-bottom pb-2">
                <div class="all-col all-col col-1 px-0 d-flex justify-content-center align-items-center"> <span class="bdg-tips mx-3"><i class="fas fa-check"></i></span>
                </div>
                <div class="all-col all-col col-11 px-0">
                    لكي تطلع علي نموزج من البيانات يرجي الضغط علي زر
                    <span>تحليل نموزج</span> ادناه
                </div>
            </div>

        </p>

    </div>

    <div class="text-center mb-2  mt-5 ">
        <button class="btn-base"> <i class="far fa-save px-2"></i>تحميل النموذج  </button>
    </div>
</div>