<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                
                <i class="fas fa-search ml-2"></i>    
              
                <span class="f-19">
                    بحث تويتر

                </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-3 main-all  shadow radius-20 ">
    <div class="position-relative mt-2">
        <input type="text" class="w-100 inp-search rounded-pill border-0 shadow-inp py-1" placeholder="اكتب كلمة البحث هنا">
        <i class="fas fa-search color-1 search-inp"></i>

    </div>
    <div class="container-fluid">

        <div class="row  my-2">
            <div class="col-md-6 mt-3">
                <label for="" class="color-1 weight-600 pr-2">بدايه البحث</label>
                <div class="position-relative">
                    <input type="date" class="w-100 inp-search rounded-pill border-0 shadow-inp py-1 startDate" min="" max="">
                    <i class="far fa-calendar-alt color-1 calendar-inp"></i>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <label for="" class="color-1 weight-600 pr-2">نهايه البحث</label>
                <div class="position-relative">
                    <input type="date" name="date" placeholder="dd-mm-yyyy" value="0000-00-00" min="" max="" class="w-100 inp-search rounded-pill border-0 shadow-inp py-1 endDate" placeholder="YYYY-MM-DD">
                    <i class="far fa-calendar-alt color-1 calendar-inp"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4 mb-2 ">
        <button class="btn-base f-20 weight-600"> <i class="fas fa-search px-1 "></i>  
            بحث </button>
    </div>

</div>