<div class="strap-top ">
    <div class="d-flex align-items-center mx-3 h-75">
        <div class="w-100">
            <span class="mx-1 color-base">
                            
                            <i class="fas fa-cloud-upload-alt ml-2"></i>    
                          
                            <span class="f-19">
                                تحميل الملف
                            </span>
            </span>

            <div class="w-100">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="mx-3 main-all  shadow radius-20 ">
    <div class="color-1 mb-3 pt-2 pr-1 f-19">
        <i class="fas fa-cloud-upload-alt ml-2"></i> اختر الملف المراد رفعه الي النظام
    </div>
    <div class="upload-btn-wrapper text-center">
        <button class="btn-file text-center p-3">

                        <div class="color-1  text-center upload-30">
                            <i class="fas fa-cloud-upload-alt color-1 f-29"></i>
                        </div>
                        <div class="color-1  text-center">
                            اختر الملف المراد رفعه الي النظام

                        </div>
                    </button>
        <input type="file" name="myfile" id="file-upload" />
    </div>
    <div class="position-relative my-2  " id="show-all">
        <div class="bg-base py-2 px-2">
            <i class="fas fa-file pt-2"></i>
            <span id="file-upload-filename" class="px-1 text-truncate d-inline-block"></span>
            <i class="far fa-times-circle close-all"></i>
        </div>
    </div>

    <div class="my-2 btn-all-radio">
        <input type="radio" class="mt-1" id="free" name="payment" />
        <label for="free" class=" f-14"> 
                        <span class="mx-2 f-18">                      
                            البيانات التي تحتوي علي عنوان لها                                    
                                    </span> 
                    </label>
    </div>
    <div class="text-center mt-4 mb-2 ">
        <button class="btn-base f-20 weight-600"> <i class="far fa-chart-bar px-1 "></i>  
                        تحليل البيانات </button>
    </div>

</div>